<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>PPJ projekt</title>
</head>
<body>
<div>
    <a th:text="Next" th:href="${'/projekt?id='+nextImageID}"></a>
</div>
<div>
    <div>
        <img th:src="@{${image.url}}"/>
    </div>
    <div>
        <p th:text="${image.name + ' - ' + image.author.name+ ', ' + image.createdDate}"></p>
    </div>
    <div>
        <div th:each="tag : ${image.tagSet}">
            <p th:text="${'#'+tag.value+','}"></p>
        </div>
        <div>
            <a th:text="'Likes ('+${image.likesCount}+')'" th:href="${'/likeImg?id='+image.id}"></a>
        </div>
        <div>
            <a th:text="'Dislikes ('+${image.dislikesCount}+')'" th:href="${'/dislikeImg?id='+image.id}"></a>
        </div>
    </div>
</div>
<div>
    <table>
        <tr th:each="comment : ${image.commentSet}">
            <td>
                <p th:text="${comment.comment + ' - ' + comment.author.name+ ', ' + comment.createdDate}"></p>
            </td>
            <td>
                <a th:text="'Likes ('+${comment.likesCount}+')'"
                   th:href="@{'/likeComment'(id=${image.id}, commentId=${comment.id})}"></a>
            </td>
            <td>
                <a th:text="'Dislikes ('+${comment.dislikesCount}+')'"
                   th:href="@{'/dislikeComment'(id=${image.id}, commentId=${comment.id})}"></a>
            </td>
        </tr>
    </table>
</div>
</body>
</html>